<li style="display: none;" >
    <div class="filter-fields" th:attr="data-action=@{${listGrid.path}}">
        <input type="hidden" class="sort-property" data-name="sortProperty" th:value="${fieldName}" />
        <input type="hidden" class="sort-direction" data-name="sortDirection" />

        <div class="listgrid-criteria" th:attr="data-field-index=${index}">
            <div class="listgrid-criteria-container">
                <div th:remove="element" th:replace="${'fields/filter/' + #strings.toLowerCase(fieldType.replace('I','i'))}"></div>
            </div>
        </div>

        <div th:style="${#strings.toLowerCase(fieldType) == 'additional_foreign_key'} ? 'display: none;'">
            <button class="listgrid-filter tiny radius dark button" th:inline="text">
                <i class="blc-icon-search"></i>[[#{Filter}]]
            </button>
            <button class="listgrid-clear-filter tiny radius dark button" disabled="disabled" th:inline="text">
                <i class="blc-icon-delete"></i>[[#{Filter_Clear}]]
            </button>
        </div>
    </div>
</li>
